@import '../../../styles/settings.scss';

.row {
  padding: 5px;
  justify-content: center;
  display: flex;
  a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    color: $link-color;
    font-size: 20px;
    &:hover {
      border-bottom: 1px solid $link-color;
    }
  }

}
